h1 {
    color: rgb(9, 169, 100);
    font-size: 40px;
    text-align: center;
}

h3 {
    color: rgb(9, 169, 100);
    font-size: 25px;
}

#navbar {
    background-color: #b3a315;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

#navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #796700;
    border-radius: 5px;
}

body {
    background-color: rgba(209, 254, 244, 0.874);
    background-size: cover;
    background-repeat: no-repeat;
}